.vscode
.webpack
node_modules
native_modules
tsconfig.json
coverage
build
public
out
cdk.out
lib/user-interface/react-app/src/API.ts
lib/user-interface/react-app/src/graphql/mutations.ts
lib/user-interface/react-app/src/graphql/queries.ts
lib/user-interface/react-app/src/graphql/subscriptions.ts
