[tool.poetry]
name = "aws-genai-llm-chatbot"
version = "0.1.0"
description = ""
authors = ["Massimiliano Angelino <angmas@amazon.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
