aws_xray_sdk==2.14.0
numpy==1.26.0
cfnresponse==1.1.2
aws_requests_auth==0.4.3
requests-aws4auth==1.2.3
langchain==0.2.14
langchain-community==0.2.12
langchain-aws==0.1.17
langchain-openai==0.1.25
openai==1.47.0
opensearch-py==2.4.2
psycopg2-binary==2.9.7
pgvector==0.2.2
pydantic==2.4.0
urllib3<2
beautifulsoup4==4.12.2
requests==2.32.0
attrs==23.1.0
feedparser==6.0.11
defusedxml==0.7.1
