aws_xray_sdk==2.12.0
boto3==1.28.57
attr==0.3.2
cfnresponse==1.1.2
aws_requests_auth==0.4.3
requests-aws4auth==1.2.3
langchain==0.0.304
opensearch-py==2.3.1
psycopg2-binary==2.9.7
pgvector==0.2.2
pydantic==2.3.0
urllib3<2
openai==0.28.0
beautifulsoup4==4.12.2
requests==2.31.0