aws_xray_sdk==2.14.0
numpy==1.26.4
cfnresponse==1.1.2
aws_requests_auth==0.4.3
requests-aws4auth==1.2.3
langchain==0.3.14
langchain-core==0.3.29
langchain-aws==0.2.10
langchain-community==0.3.3
langchain-openai==0.2.4
langchain-text-splitters==0.3.5
opensearch-py==2.4.2
psycopg2-binary==2.9.7
pgvector==0.2.2
urllib3<2
beautifulsoup4==4.12.2
requests==2.32.0
attrs==23.1.0
feedparser==6.0.11
defusedxml==0.7.1
filetype==1.2.0
boto3==1.35.99
botocore==1.35.99
