# Replace with your configuration after you deploy
AWS_PROJECT_REGION=
AWS_COGNITO_REGION=
AWS_USER_POOLS_ID=
AWS_USER_POOLS_WEB_CLIENT_ID=
API_DISTRIBUTION_DOMAIN_NAME=
RAG_ENABLED=
DEFAULT_EMBEDDINGS_MODEL=
DEFAULT_CROSS_ENCODER_MODEL=